<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <h4 id="edict-title" class="modal-title">Richiesta di contatto</h4>
    </div>
    <div class="modal-body">
        <p id="edict-body">
            Connettendoti a questo personaggio utilizzerai il tuo contatto privato<br />
            L'operazione non è più reversibile a meno dell'utilizzo di Downtime, e solo a discrezione della narrazione
            <br />
            <center><b>Continuare?</b></center>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="connectionAction('{{url}}')">Richiedi contatto</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
    </div>
</div>
