{% extends 'base.layout.html.twig' %}

{% block title %}Messenger{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/messenger.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/messenger.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-lg-3 col-xs-12">
            <ul class="messenger list-unstyled">
                <li>
                    <div class="messenger-container">
                        <div class="messenger-image">
                            <img src="//ui-avatars.com/api/?name=Elon+Musk&size=50&rounded=true"/>
                        </div>
                        <div class="messenger-message">
                            <p><strong>Elon Musk</strong> non hai il contratto privato</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="messenger-container">
                        <div class="messenger-image">
                            <img src="//ui-avatars.com/api/?name=Elon+Musk&size=50&rounded=true"/>
                        </div>
                        <div class="messenger-message">
                            <p><strong>Elon Musk</strong> non hai il contratto privato</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="messenger-container">
                        <div class="messenger-image">
                            <img src="//ui-avatars.com/api/?name=Elon+Musk&size=50&rounded=true"/>
                        </div>
                        <div class="messenger-message">
                            <p><strong>Elon Musk</strong> non hai il contratto privato</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-1 hidden-xs col-separator-container">
            <div class="col-separator"></div>
        </div>
        <div class="col-lg-8 col-xs-12">
            <div class="messenger-chat-right">
                <div class="message-subject text-center">
                    <img width="50" height="50" src="//ui-avatars.com/api/?name=Elon+Musk&size=50&rounded=true"/>
                    <br />
                    <strong><small>Elon Musk</small></strong>
                </div>
                <div class="messenger-chat">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="message my-message">
                                ciao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciao
                                <div>
                                    <small>inviato il 12/08/18 21:48</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="message-separator"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="message other-message">
                                ciao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciao
                                <div>
                                    <small>inviato il 12/08/18 21:48</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="message-separator"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="message my-message">
                                ciao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciao
                                <div>
                                    <small>inviato il 12/08/18 21:48</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="message-separator"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="message other-message">
                                ciao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao ciaociao
                                ciaociao ciaociao ciaociao ciaociao ciaociao ciao
                                <div>
                                    <small>inviato il 12/08/18 21:48</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="message-separator"></div>
                    </div>
                </div>
                <div class="message-input">
                    <form>
                        <br />
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Scrivi il tuo Messaggio"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">invia</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}