{{ form_start(downtime, {action:path('downtime-create', {dtid:dtid} )}) }}
<div class="modal-content">
    <div class="modal-header">
        Crea Downtime
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Azione di downtime che verr&acute; eseguita dal tuo personaggio nell'arco del mese
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_row(downtime.title, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_row(downtime.text, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default">Crea</button>
    </div>
</div>
{{ form_end(downtime) }}