includes:
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-doctrine/extension.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-doctrine/rules.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    inferPrivatePropertyTypeFromConstructor: true
    doctrine:
    	repositoryClass: Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository
    symfony:
        container_xml_path: %currentWorkingDirectory%/var/cache/dev/srcApp_KernelDevDebugContainer.xml
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/tests/*
    autoload_files:
        - %currentWorkingDirectory%/vendor/autoload.php
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::get[A-Z][a-zA-Z]*\(\)#'
