.veto {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%) rotate(4deg);
    border: 10px solid darkred;
    border-radius: 10px;
    text-align: center;
    color: darkred;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    z-index: 2;
    background: rgba(218, 165, 32, .5);
    box-shadow: 0 0 29px 0px black;
}