#loading-image {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,.7);
    display:none;
}

#loading-image-cog-ext {
    width:100px;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border: 6px dashed white;
    border-radius: 100%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

html {
	height: 100%;
    box-sizing: border-box;
}

body {
	min-height: 100%;
	padding-top:50px;
	padding-bottom: 6rem;
	position:relative;
}

#loading-image-cog-int {
    background-color: white;border-radius: 100%;width: 100%;height: 100%;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.navbar {
    background: #333;
    border: 0;
    border-radius: 0;
    box-shadow: 0px 0px 10px 1px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background: #404040;
}

.navbar {
    box-shadow: 0px 0px 10px 1px;
    position: fixed;
    width: 100%;
}
    
.clear {
    clear: both
}

.notifications .notification-container {
    width: 240px
}

.notifications .notification-image {
    width: 50px;
    margin: 10px;
    float: left
}

.notification-image img {
    width: 50px;
    border-radius: 100%;
}

.notifications .notification-message {
    width: 150px;
    margin: 10px;
    font-size: 12px;
    float: left
}

.notifications li {
    cursor: pointer;
}

.notifications li:hover {
    background: #999999;

}

.notifications .new-notification {
    animation: moveBg 10s linear
}

.navbar-nav>li>.dropdown-menu {
    height: 300px;
    overflow: auto;
}

#navigator-caret
{
	height:auto;
}

@keyframes moveBg {
  0% {
    background: #d6f0ff;
  }
  100% {
    background: white%;
  }
}

.message-png-input {
    float: right;
    margin-top: 20px;
    width: 100%;
}

.tt-menu {
    box-shadow: 0px 4px 10px -4px black;
}

.tt-hint {
    color: rgba(0, 0, 0, .5);
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
    width: 100%;
}

.tt-dataset, .tt-dataset-source {
    background: white;
    border: 1px solid #ccc;
    border-top: 0;
}

.tt-suggestion {
    padding: 10px 5px;
    border-bottom: 1px dashed #ccc;
}

.tt-suggestion:last-child {
    border-bottom: 0;
}

.tt-selectable {
    cursor: pointer;
}

.tt-cursor {
    background: #cccccc;
}

.search-bar
{
    display: block;
    height: 34px;
    width: 300px;
    line-height: 1.42857143;
    border: 0;
    border-radius: 0;
    margin-top: 7px;
    background: transparent;
    border-bottom: 1px solid #ccc;
    padding: 6px 0;
    color: white;
    outline: none;
}

.search-bar:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.help {
	position: fixed;
    bottom: 50px;
    left: 50px;
    font-size: 35px;
    color: white;
    background: #2e6da4;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    box-shadow: 1px 1px 5px 0px black;
    cursor:pointer;
}
.help:hover {
	text-decoration:none;
	
}

#help blockquote {
    border-left: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
}

.pic-50 {
	width:50px;
	height:50px;
}

.pic-40 {
	width:40px;
	height:40px;
}

.editable-content-container {
    height:auto;
}

.editable-content {
    height: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: auto;
    outline: 0;
}

.editable-content-modifier-active {
    background-color: #e0e0e0;
    border-color: #dbdbdb;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.notice {
	background: orange;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.notice p {
	margin:0;
	padding:5px 0;
    text-shadow: 1px 1px 3px black;
}
.notice a {
	color: white;
	text-decoration:underline;
}

img.profile-image-25 {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}