.navbar {
    background: #333;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background: #404040;
}

.clear {
    clear: both
}

.notifications .notification-container {
    width: 240px
}

.notifications .notification-image {
    width: 50px;
    margin: 10px;
    float: left
}

.notification-image img {
    width: 50px;
    border-radius: 100%;
}

.notifications .notification-message {
    width: 150px;
    margin: 10px;
    font-size: 12px;
    float: left
}

.notifications li {
    cursor: pointer;
}

.notifications li:hover {
    background: #999999;

}

.message-png-input {
    float: right;
    margin-top: 20px;
}

.tt-menu {
    box-shadow: 0px 4px 10px -4px black;
}

.tt-hint {
    color: rgba(0, 0, 0, .5);
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
    width: 100%;
}

.tt-dataset, .tt-dataset-source {
    background: white;
    border: 1px solid #ccc;
    border-top: 0;
}

.tt-suggestion {
    padding: 10px 5px;
    border-bottom: 1px dashed #ccc;
}

.tt-suggestion:last-child {
    border-bottom: 0;
}

.tt-selectable {
    cursor: pointer;
}

.tt-cursor {
    background: #cccccc;
}

.search-bar
{
    display: block;
    height: 34px;
    width: 300px;
    line-height: 1.42857143;
    border: 0;
    border-radius: 0;
    margin-top: 7px;
    background: transparent;
    border-bottom: 1px solid #ccc;
    padding: 6px 0;
    color: white;
    outline: none;
}

.search-bar:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}