.navbar {
    background: #333;
    border: 0;
    border-radius: 0;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a{
    color:white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
    background:#404040;
}
.clear {
    clear:both
}

.notifications .notification-container{
    width:240px
}

.notifications .notification-image {
    width:50px;
    margin:10px;
    float:left
}

.notification-image img
{
    width: 50px;
    border-radius:100%;
}

.notifications .notification-message {
    width:150px;
    margin:10px;
    font-size:12px;
    float:left
}

.notifications li {
    cursor: pointer;
}

.notifications li:hover {
    background: #999999;

}