.clear {
    clear: both
}

#message-page h2 {
	margin-top: 0;
}

.messenger .messenger-container {
    width: 240px
}

.messenger .messenger-image {
    width: 50px;
    margin: 10px;
    float: left
}

.message-subject img,
.messenger-image img {
    width: 50px;
    border-radius: 100%;
}

.messenger .messenger-message {
    width: 150px;
    margin: 10px;
    font-size: 12px;
    float: left
}

.messenger li {
    cursor: pointer;
}

.messenger li:hover {
    background: #999999;

}

.col-separator {
    width: 0;
    height: 90vh;
    border-left: 1px solid #333;
}

.col-separator-container {
    width: 0;
}

.message-subject {
    padding: 10px;
    background: white;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.admin-message-container img {
	border-radius:100%;	
}

.messenger-chat-right {
    height: 90vh;
    position: relative;
    padding-top: 100px;
}

.messenger-chat {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
}

.message-input {
    position: sticky;
    bottom: 0;
    right: 0;
    height: 10%;
    background: white;
    border-top: 1px solid #333;
    width: 100%;
}

.message {
    padding: 10px;
    max-width: 66%;
    border-radius: 10px;
}

.my-message {
    float: right;
    text-align: right;
    background: #333;
    color: white;
}

.other-message {
    float: left;
    text-align: left;
    background: #999;
}

.message-separator {
    height: 20px;
}

.selectable a{
	border: 1px solid #ccc;
    padding: 10px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	height: 100%;
	color: #999;
}

.selectable a:hover {
	border: 1px solid #333;
	text-decoration: none;
	color: #333;
	background: #d9edf7;
}

.table tr {
	cursor: pointer;
}

.icon-big {
    font-size: 72px;
}

.panel:hover {
    box-shadow:0 0 5px 0px black;
    cursor:pointer;
}

.continue-reading {
    display:inline-block;
    padding:2px 10px;
    border:1px solid #ddd;
    background:#ddd;
    border-radius:4px 4px 0 0;
    border-bottom:0;
}
.continue-reading:hover {
    text-decoration: none;
    background:white;
}